html, body{
    margin: 0;
    padding: 0;

    // background: rgb(214, 191, 191);
    // background: radial-gradient(circle, rgb(10, 10, 10) 0%, rgb(39, 25, 39) 100%); 
    h1,h2,h3,h4,h5{
        margin: 0; 
        font-family: sans-serif;
        color: rgb(58, 57, 57);
        font-weight: 400;
    }
}